.intro{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
}
.intro img{
    width: 1500px;
    height:400px;
}
.left h1{
    font-weight: 900;
    margin-left: 450px;
}
.left p{
    margin-top: 0;
}
.embed-responsive{
    height: 60vh;
    width: 800px;
    margin-left: 300px;
}
.images{
    height: 10px;
    width: 10px;
    display: flex;
    gap: 10px;
    margin-top: 45px;
    padding: 10px;
    padding-left: 30px;
}
.images2{
    height: 10px;
    width: 10px;
    display: flex;
    padding: 20px;
    gap: 10px;
    margin-top: 40px;
}
.strategies h1{
    font-weight: 900;
    margin-left: 400px;
    margin-top: 50px;
}
.create{
    margin-top: 450px;
    font-weight: 900;
    margin-left: 350px;
    font-size: 45px;
}
.quiz-container button{
    margin-left: 20px;
    font-weight: 600;
    font-size: 17px;
}
.quiz-container{
    font-size: 22px;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    padding: 30px;
    margin-left: 50px;
}
.quiz-container h1{
    font-size: 30px;
    font-weight: 900;
}
.progress{
  height: 20px;
  background-color: #4caf50;
  border-radius: 5px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.create2{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    margin-top: 20px;
}