.Quiz{
    font-size: 22px;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
}
.Quiz button{
    margin-left: 20px;
    font-weight: 600;
    font-size: 17px;
}
.goals h1{
    font-size: 70px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    margin-left: 200px;
    margin-top: 45px;
}
.goals p{
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    padding: 30px;
}